/* Universal Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Montserrat", sans-serif;
}

/* Content Styling */
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2{
    font-size: 35px;
    margin: 20px 0 0 0;
}
#text{
    height: 322px;
    width: 707px;
    padding: 20px;
    margin: 0 0 15px 0;
}
.word{
    text-align: start;
    display: flex;
    align-items: center;
}
.word .wordBox{
    height: 10px;
    width: 10px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: #3700ff;
}
.character{
    display: flex;
    align-items: center;
}
.character .charBox{
    height: 10px;
    width: 10px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: #00ff73;
}
.line{
    display: flex;
    align-items: center;
}
.line .lineBox{
    height: 10px;
    width: 10px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    background: #ff00bf;
}